<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-start h-16">

      <div
        class="flex-1 flex items-start justify-start sm:items-stretch sm:justify-start"
      >
        <div class="flex justify-start hover:opacity-50">
          <a href="/">
            <img
            class=" h-8 w-auto"
            src="https://i.ibb.co/nMDbwLN/logo.png"
            alt="Workflow"
          />
          </a>
        </div>
        <div class="hidden sm:block sm:ml-6 ">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="/"
              class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium hover:opacity-50"
            >Mis notas</a>

             <a
              href="/new"
              class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium hover:opacity-50"
            >Nueva</a>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 text-white hover:opacity-50"
      >
        <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="/"
        class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        aria-current="page"
      >Mis notas</a>

      <a
        href="/new"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
      >Nueva</a>

    </div>
  </div>
</nav>